In [1]:
import pandas as pd
from entsoe import EntsoePandasClient
import os
from datetime import datetime
from requests_html import HTMLSession
import warnings

In [2]:
warnings.filterwarnings('ignore')

session = HTMLSession(verify=False)
client=EntsoePandasClient(api_key='70fec3b8-9274-4fa2-b777-93d8a0390cdb')

start = pd.Timestamp('20190101', tz='Europe/Paris')
end = pd.Timestamp('20200101', tz='Europe/Paris')
country_code = 'ES'

In [18]:
df_forecast_production = client.query_generation_forecast(country_code='ES', start=start, end=end)

In [19]:
df_forecast_production

                           Actual Aggregated  Actual Consumption
2019-01-01 00:00:00+01:00            20136.0                53.0
2019-01-01 01:00:00+01:00            19558.0               106.0
2019-01-01 02:00:00+01:00            18586.0               139.0
2019-01-01 03:00:00+01:00            17664.0               206.0
2019-01-01 04:00:00+01:00            17405.0               262.0
...                                      ...                 ...
2019-12-31 19:00:00+01:00            25007.0                 0.0
2019-12-31 20:00:00+01:00            23862.0                 0.0
2019-12-31 21:00:00+01:00            22719.0                 0.0
2019-12-31 22:00:00+01:00            22227.0                 0.0
2019-12-31 23:00:00+01:00            21278.0                 0.0

[8760 rows x 2 columns]