In [11]:
import pandas as pd
import os
import numpy as np
import glob
from functools import reduce

In [3]:
folders = ['France', 'Spain', 'Italy', 'Germany', 'UK', 'Switzerland', 'Belgium']

In [44]:
os.chdir('c:\\Users\\MARY Loïc\\Desktop\\Inputs')
loads = {}
powers={}
for f in folders:
    os.chdir(f)
    loads[f] = pd.read_csv(glob.glob('forecast_load*')[0], sep=';', parse_dates=['Unnamed: 0']).rename(columns={"Unnamed: 0":'Timestamp', 'Forecasted Load':f'Forecasted_load_{f}'})
    powers[f] = pd.read_csv(glob.glob('forecast_production*')[0], sep=';', parse_dates=['Unnamed: 0']).rename(columns={"Unnamed: 0":'Timestamp', 'Actual Aggregated':f'Forecasted_production_{f}'})
    os.chdir('../')

In [45]:
powers['France']

                      Timestamp  Forecasted_production_France
0     2019-01-01 00:00:00+01:00                       64931.0
1     2019-01-01 01:00:00+01:00                       63555.0
2     2019-01-01 02:00:00+01:00                       62104.0
3     2019-01-01 03:00:00+01:00                       59954.0
4     2019-01-01 04:00:00+01:00                       56724.0
...                         ...                           ...
8755  2019-12-31 19:00:00+01:00                       76544.0
8756  2019-12-31 20:00:00+01:00                       74936.0
8757  2019-12-31 21:00:00+01:00                       73839.0
8758  2019-12-31 22:00:00+01:00                       74200.0
8759  2019-12-31 23:00:00+01:00                       73877.0

[8760 rows x 2 columns]

In [ ]:
[loads['France'], loads['UK'], loads['Italy'], loads['Germany'], loads['Spain'], loads['Switzerland'], loads['Belgium']]
[actual_powers['France'], actual_powers['UK'], actual_powers['Italy'], actual_powers['Germany'], actual_powers['Spain'], actual_powers['Switzerland'], actual_powers['Belgium']]

In [51]:
load_df = reduce(lambda df1, df2: pd.merge(df1, df2, on='Timestamp'), [loads['France'], loads['UK'], loads['Italy'], loads['Germany'], loads['Spain'], loads['Switzerland'], loads['Belgium']])
powers_df = reduce(lambda df1, df2: pd.merge(df1, df2, on='Timestamp'), [powers['France'], powers['UK'], powers['Italy'], powers['Germany'], powers['Spain'], powers['Switzerland'], powers['Belgium']])

In [61]:
powers['France']

                      Timestamp  Forecasted_production_France
0     2019-01-01 00:00:00+01:00                       64931.0
1     2019-01-01 01:00:00+01:00                       63555.0
2     2019-01-01 02:00:00+01:00                       62104.0
3     2019-01-01 03:00:00+01:00                       59954.0
4     2019-01-01 04:00:00+01:00                       56724.0
...                         ...                           ...
8755  2019-12-31 19:00:00+01:00                       76544.0
8756  2019-12-31 20:00:00+01:00                       74936.0
8757  2019-12-31 21:00:00+01:00                       73839.0
8758  2019-12-31 22:00:00+01:00                       74200.0
8759  2019-12-31 23:00:00+01:00                       73877.0

[8760 rows x 2 columns]

In [62]:
loads['France']

                      Timestamp  Forecasted_load_France
0     2019-01-01 00:00:00+01:00                 63450.0
1     2019-01-01 01:00:00+01:00                 60800.0
2     2019-01-01 02:00:00+01:00                 59950.0
3     2019-01-01 03:00:00+01:00                 56400.0
4     2019-01-01 04:00:00+01:00                 53550.0
...                         ...                     ...
8755  2019-12-31 19:00:00+01:00                 70300.0
8756  2019-12-31 20:00:00+01:00                 66950.0
8757  2019-12-31 21:00:00+01:00                 64150.0
8758  2019-12-31 22:00:00+01:00                 64100.0
8759  2019-12-31 23:00:00+01:00                 67500.0

[8760 rows x 2 columns]

In [68]:
for country in folders:
    df = pd.merge(loads[country] ,powers[country], on='Timestamp')
    print((df[f'Forecasted_load_{country}'] -df[f'Forecasted_production_{country}']).max())

8657.0
8160.0
19966.0
15252.0
36905.5
5698.0
4515.0

In [53]:
powers_df.set_index('Timestamp').sum(axis=1)

Timestamp
2019-01-02 00:00:00+01:00    201020.0
2019-01-02 01:00:00+01:00    196258.0
2019-01-02 02:00:00+01:00    194168.0
2019-01-02 03:00:00+01:00    192024.0
2019-01-02 04:00:00+01:00    192893.0
                               ...
2019-12-31 19:00:00+01:00    240665.0
2019-12-31 20:00:00+01:00    229740.0
2019-12-31 21:00:00+01:00    218033.0
2019-12-31 22:00:00+01:00    212933.0
2019-12-31 23:00:00+01:00    207807.0
Length: 8736, dtype: float64

In [54]:
load_df.set_index('Timestamp').sum(axis=1)

Timestamp
2019-01-01 00:00:00+01:00    199590.0
2019-01-01 01:00:00+01:00    192726.0
2019-01-01 02:00:00+01:00    186785.0
2019-01-01 03:00:00+01:00    177945.0
2019-01-01 04:00:00+01:00    171597.0
                               ...
2019-12-31 19:00:00+01:00    248396.0
2019-12-31 20:00:00+01:00    237133.0
2019-12-31 21:00:00+01:00    223189.0
2019-12-31 22:00:00+01:00    216504.0
2019-12-31 23:00:00+01:00    213180.0
Length: 8760, dtype: float64

In [55]:
df = pd.DataFrame(data={'loads':load_df.set_index('Timestamp').sum(axis=1),
                        'powers':powers_df.set_index('Timestamp').sum(axis=1)})

In [58]:
df['loads']-df['powers']

Timestamp
2019-01-01 00:00:00+01:00       NaN
2019-01-01 01:00:00+01:00       NaN
2019-01-01 02:00:00+01:00       NaN
2019-01-01 03:00:00+01:00       NaN
2019-01-01 04:00:00+01:00       NaN
                              ...
2019-12-31 19:00:00+01:00    7731.0
2019-12-31 20:00:00+01:00    7393.0
2019-12-31 21:00:00+01:00    5156.0
2019-12-31 22:00:00+01:00    3571.0
2019-12-31 23:00:00+01:00    5373.0
Length: 8760, dtype: float64

In [43]:
loads['UK']

                      Timestamp  Forecasted_load_UK
0     2018-12-31 23:00:00+00:00             27317.0
1     2019-01-01 00:00:00+00:00             27975.0
2     2019-01-01 01:00:00+00:00             27455.0
3     2019-01-01 02:00:00+00:00             25365.0
4     2019-01-01 03:00:00+00:00             23756.0
...                         ...                 ...
8756  2019-12-31 19:00:00+00:00             36708.0
8757  2019-12-31 20:00:00+00:00             34015.0
8758  2019-12-31 21:00:00+00:00             32183.0
8759  2019-12-31 22:00:00+00:00             30365.0
8760  2019-12-31 23:00:00+00:00             28407.0

[8761 rows x 2 columns]